<div>
  <h1>
    Usage
  </h1>
  <hr>
</div>
<!--main body -->

<div class = "container"> 
  <div class="row">
  
    <!--side one-->
    <div class="col-md"> 

      <div class="card">
         <!--chart 1-->
         <ejs-chart id="chart-container" [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis'>
            <e-series-collection>
                <e-series [dataSource]='meters' 
                     xName='Time' yName='KWH' name='Usage'></e-series>
              
            </e-series-collection>
        </ejs-chart>
      </div>
    </div>

    <!--side two-->
    <div class="col-md">

       <div class="card">
       <ejs-chart style='display:block' id='chartcontainer'  [primaryXAxis]='primaryXAxis'>
        <e-series-collection>
            <e-series [dataSource]='data' type='BoxAndWhisker' xName='x' yName='y'> </e-series>    
        </e-series-collection>
        </ejs-chart>
         
          <!--chart 2-->
      </div>

    </div>
  </div>
</div>

<!--Meter Data-->
<div>
  <h1> Meter Data </h1>
  <hr>
  <div class="table-container">
        <ag-grid-angular
        style="min-width: 500px; height: 500px;"
        class="ag-theme-alpine"
        [rowData]="meters"
        [columnDefs]="columnDefs"
        >
      </ag-grid-angular>
  </div>

</div>
