<div> 


<div class="image">
<p class='title'> 3 Pillars of Sustainability </p>
<p class="header-font">
    Environment |
    Equity |
    Economics
</p>
<hr class="ruler">

</div>

<!--body-->
<div>
    <h1> Use Case </h1>
    <hr>

    <h4> Hackathon Use Case for Sustainability </h4>
    <div class='text-body-container'>
    <p>

        We need a simple interface for an energy optimization app so people can see exactly
        how precious resources are being consumed in a process,
        throughout a line, for a facility and even across an entire enterprise.  
    </p>

     <hr>

    <h4> Host | Sponsor </h4>

    <img src="../assets/ra-logo.png" alt="ra-logo" width="250px" height="130px">

    <img src="../assets/cisco-logo.png" alt="cisco-logo" width="250px" height="250px">

</div>
    
  





<!--Footer-->
<div class="footer"> 
    <hr>
    <a href="https://h2mgroup.wordpress.com/2013/06/14/the-three-es-of-sustainability/">Learn More</a>
</div>