.image {
     height:40em; background-size:cover; width:auto;
     background-image:url('./images/img.jpg');
     background-position:50% 50%;
}

.ruler {
    box-shadow: 1px 0.5px 1.5px #ecf0f1;
    opacity: 80%;
}

.p {
    color: #ecf0f1;
}

.header-font {
    font-size: 2.5em;
    opacity: 0.6;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
   
    
}

.header-font-h1 {
    font-size: 2em;
}

.title {
    color: white;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
     -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
   

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

hr {
    width: 50%;
    color: white;
    box-shadow: 0 4px 2px -2px gray;
    opacity: 0.8;
}

h1, h4 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.text-body-container {
    text-align: center; 
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
}

.ra-logo {
    width: 200px;
    height: 200px;
}